## Dictionary
- 영어 사전
    - 단어: 뜻
    - 키: 값
    - 순서가 없다 => 인덱싱 불가능, 오프셋 없음
    - 키로 값을 찾는다
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가 가능
    - 타입: dict
    - 형변환: dict()
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a: [1,2,3,4]

In [1]:
empty = dict()
empty = {}
# set {}
empty = {} # dict type
empty = set()
type(empty)

set

In [2]:
a = {1,2,3} # set
a = {1:'apple', 2:'banana', 3:'kiwi'} # dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [3]:
b = {'':'', '':'', '':''}
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [ ]:
# 출석부로 딕셔너리 만들기
이름, 학번=key(중복없는 값), 학과
james 202201 경제학과
laura 202203 스페인어과
louis 202202 컴공과

In [6]:
{202201: ['james', '경제학과'], 202203: ['laura', '스페인어과'], 202202: ['louis', '컴공과']}

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

### 형 변환

In [7]:
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [10]:
ex2 = [(1, 2), (2, 3), (1, 4)]
dict(ex2)
# 키 중복 안 됨

{1: 4, 2: 3}

In [11]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

In [16]:
pythons = { #성: 이름 
    'Champman':'Graham',
    'Cleese':'John',
    'Idle':'Eric',
    'Jones':'Terry',
    'Palin':'Michael'
}

In [17]:
pythons['Idle']

'Eric'

In [18]:
pythons['Hwa']
# 없는 값은 오류

KeyError: 'Hwa'

In [19]:
pythons['Idle'] = 'James' # 변경
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [20]:
pythons['Hwa'] = 'Chloe' # 없는 값일 때는 추가
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [22]:
# 예외없이
'Hwa' in pythons

True

In [24]:
#get()
pythons.get('Lee', 0) # 없는 키는 None 반환 or 반환값 직접 설정

0

### 전체 조회
- keys()
- values()
- items()

In [28]:
list(pythons.keys())

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [29]:
pythons.keys()

dict_keys(['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [26]:
pythons.values()

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [27]:
pythons.items() # (키, 값) 튜플 형태로 => 순회 많이 씀

dict_items([('Champman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [30]:
for k, v in pythons.items(): # list comprehen
    print(f'{k} = {v}')

Champman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [32]:
[(k, v) for k, v in pythons.items()]

[('Champman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [36]:
[k[0] for k in pythons.items()] # 0 = key, 1 = value

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [37]:
[k[1] for k in pythons.items()] # 0 = key, 1 = value

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

In [38]:
[k for k in pythons.items()] # 아무것도 없이 돌면 key 값만 나옴

[('Champman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [8]:
### ex
# animal: num_leg
animal = 'cat snake monkey ant spider'.split()
legs = 4,0,2,4,8

### Project
- 테스트 해결
- 수업 30분 랜덤 코드 설명
- 제출: 수요일 자정

In [10]:
num_leg = {}
for k, v in zip(animal, legs):
    num_leg[k] = v 
print(num_leg)


# 다른 방법
print(dict([(key, value) for key, value in zip(animal, legs)]))

# 딕셔너리 comprehension 활용
print({key:value for key, value in zip(animal, legs)})

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}
{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}
{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

### Q. pythons에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이뤄진 튜플(성, 이름) 리스트로 반환하기
    - dict comprehension 쓰지 말기

In [73]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [90]:
[(key[0], len(value)) for key, value in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [91]:
#[(), ()] => items()
[(k[0] ,len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

In [92]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [93]:
others = {
    'Marx':'Groucho',
    'Howard':'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [95]:
pythons.update(others)

In [96]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [97]:
# py3
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [98]:
# 삭제
del pythons['Hwa']
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [99]:
del pythons['Lee'] #없을 때 오류

KeyError: 'Lee'

In [100]:
pythons.pop('Marx')
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Howard': 'Moe'}

In [101]:
pythons.pop('Lee', 0) #없으면 오류 나지만 출력 값을 지정할 수는 있음

0

In [102]:
#전체 삭제
pythons.clear()
pythons = {}
pythons

{}

### 복제
- 할당
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy

In [103]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [104]:
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [105]:
a = {1:[1,2,3], 2:[2,3,4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [106]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

### 비교
    - 같다, 다르다만 된다

In [107]:
a!=b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가
3. '성으로 끝나지 않는 키 삭제하기'
4. sorted 이용해서 값을 정렬하기 i) key 기준, ii) value 기준

In [108]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [143]:
universe = {}
for k in range(len(solar_kor)):
    universe[solar_kor[k]] = solar_eng[k]
    
universe['명왕성'] = 'pluto'

for k in range(len(solar_kor)):
    if not universe[solar_kor[k]].endswith('성'):
        del universe[solar_kor[k]]
        
universe

{'명왕성': 'pluto'}

In [150]:
universe = {}
for k in range(len(solar_kor)):
    universe[solar_kor[k]] = solar_eng[k]
    
universe['명왕성'] = 'pluto'

for k in list(universe.keys()):
    if not k.endswith('성'):
        del universe[k]
        
universe

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [151]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [153]:
system['명왕성'] = 'pluto'
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [154]:
dict([(k, system[k]) for k in system if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [155]:
dict([(k, v) for k, v in system.items() if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [156]:
letter = 'apple'
# a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [158]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowels 순회

In [164]:
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [167]:
{w: word.count(w) for w in set(word) if w in vowels}

{'o': 4, 'i': 1, 'a': 2, 'e': 1}

In [169]:
# {k: v for k, v i system.items() if k.endswith('성')}

In [172]:
sorted(system) # 키만 가져옴, 리스트로 반환

['금성', '명왕성', '목성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']

In [181]:
sorted(system.items(), key=fx)

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sun'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [178]:
def fx(x):
    return x[1]

In [180]:
def fx2(x):
    return x[0]

In [183]:
sorted(system.items(), key=lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### Set
- 중복이 없다
- 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다

In [184]:
empty = set()
# empty = {} 이렇게 빈 셋 선언 안 됨
empty

set()

In [185]:
a = {1,2,3}
a

{1, 2, 3}

In [186]:
a = set((1,2,3)) # 선언, 형변환
a

{1, 2, 3}

In [187]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [188]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [227]:
drinks = {
    'martini':{'vodka', 'vermouth'},
    'black russian':{'vodka', 'kahlua'},
    'white russian':{'cream', 'kahlua', 'vodka'},
    'manhattan':{'rye', 'vermouth', 'bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}

# vodka가 포함된 술 출력하기
# vodka는 있지만 cream, vermouth가 없는 술 출력하기

In [217]:
#1
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

#2
for k, v in drinks.items():
    #if 'vodka' in v and not 'cream' in v and not 'vermouth' in v:
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

martini
black russian
white russian
screwdriver
black russian
screwdriver

In [ ]:
dict([]) # X

In [201]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
a & b

# 합집합 | union
a.union(b)
a | b

# 차집합 | difference
a.difference(b)
a - b, b - a

({1}, {4})

In [6]:
# 위 문제 set을 활용하여 작성하기
drinks = {
    'martini':{'vodka', 'vermouth'},
    'black russian':{'vodka', 'kahlua'},
    'white russian':{'cream', 'kahlua', 'vodka'},
    'manhattan':{'rye', 'vermouth', 'bitters'},
    'screwdriver':{'orange juice', 'vodka'}
}

for k, v in drinks.items():
    if ('vodka' in v) and not('cream' in v or 'vermouth' in v):
        print(k)

print()

for k, v in drinks.items():
    if 'vodka' in v and not (v & {'cream', 'vermouth'}):
        print(k)

black russian
screwdriver

black russian
screwdriver

In [ ]:
# issubset

In [237]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [238]:
# frozenset
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})