# Ch02. Variable
- string : 문자열
- float : 실수
- integer : 정수
- boolean : 논리값(T/F)

* 여러 이름 동시에 할당 가능
* int는 불변객체(변하지 않음)

In [18]:
two = dos = deux = 2
# deux -> dos -> two (오른쪽 끝부터 할당)
two

2

In [19]:
two = 4
print(two, deux)

4 2

In [20]:
# id() = 메모리 주소
id(two), id(deux)

(2641898596752, 2641898596688)

In [21]:
# 참고: 리스트는 가변 객체
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [12]:
p[2] = 9
p, q

([1, 2, 9], [1, 2, 9])

In [13]:
id(p), id(q)

(2641978528768, 2641978528768)

### 좋은 변수명
- 간결하고 명확한 이름
- 의미가 담겨야 함
- 코드에는 의미가 담기고 주석에는 의도가 담긴다.
    - 예 : the number of students
    n < the_number_of_students < 'num_students'(good)
    - 카멜표기법: numStudents
    - 안 좋은 예:
        a, b, c...
        NAME, AGE....

### 자료형 변환, 형 변환
- 형(변환할 값)
- 예: int(), float(), bool()

In [28]:
a = 10

print(str(a))
print(float(a))
print(bool(a))    # 어떤 값이 False로 변환이 되는지 파악(True값의 수보다 적기 때문에)

10
10.0
True

#### 주의할 점 1: float -> int

In [29]:
x = 10.7 # float 변환 시 소수점 이하 사라짐
int(x)

10

In [33]:
y = 19.8
print(int(x + y))
print(int(x) + int(y))

# 결과값 다름

30
29

#### 주의할 점 2: str -> int / float

In [5]:
i = '10'
int(i), float(i)

(10, 10.0)

j = '10.7' => int(j) / float(j)

=> error

### print() : TIP!!

* space(\n) 유무

In [39]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) # space 없음 \n
print(dog, cat, lion)   # space 있음 \n

dogcatlion
dog cat lion

* sep =' ',   end ='\n' 용도

In [42]:
print(dog, cat, lion, sep = ' ', end = '\n') #default
print(dog, cat, lion, sep = '/', end = '\n\n')
print('EOL')

# sep = '구분자' / end = '\n'은 줄 바꿈

dog cat lion
dog/cat/lion

EOL

In [44]:
print("My favorite animal is", dog, '.')
print(f"My favorite animal is {dog}.")  # 권고

My favorite animal is dog .
My favorite animal is dog.

* 코드 줄이 짧을 때 ;(semicolon)을 이용해 한 줄로 쓸 수 있다.

In [15]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog)

dog

## 'input()' 함수
- console에서 '사용자'가 입력하는 값을 받을 수 있는 함수
- 입력받는 값은 기본적으로 문자열로 인식
- 입력 받은 값을 변수에 담아서 사용한다. 안 그러면 사라짐
- 숫자일 경우 형 변환 (int, float)

In [45]:
input("Hello?")
int(input('나이가 어떻게 되나요?'))

Hello? hi
나이가 어떻게 되나요? 44

44

* 변수에 할당하는 방법

In [46]:
#1
age = input('나이가 어떻게 되나요?')
age #문자열로 인식

나이가 어떻게 되나요? 15

'15'

In [49]:
#2
print('나이가?')
age = int(input())
age # 정수로 인식

나이가?

 15

15

### Quiz1
- 섭씨를 입력 받아서 화씨로 변환하기
- 섭씨 * 1.8 + 32 = 화씨

In [51]:
Celsius = float(input('섭씨를 입력하시오'))
Fahrenheit = Celsius * 1.8 + 32
print('화씨 =', Fahrenheit, '입니다.')

# 변수명 주의(코드를 처음보는 사람도 알아볼 수 있도록)

섭씨를 입력하시오 55

화씨 = 131.0 입니다.

### Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값:
    - "==택배 정보=="
    - 수취인 성명: <이름>
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건 비용: <가격>원
    - 총 합계 : <가격>원
- 물건 비용 = 무게(g) *5
- 합계 = 배송비 + 물건 비용

In [53]:
name = input('수취인 성명: ')
address = input('수취인 주소: ')
weight = float(input('물건 무게(g): '))
cost = weight * 5
total = 3000 + cost

print()
print("====택배 정보====")
print(f'수취인 성명: {name}')
print(f'수취인 주소: {address}')
print('배송비: 3000원')
print(f'물건 비용: {cost}원')
print(f'총 합계: {total}원')

수취인 성명:  양효빈
수취인 주소:  이문동
물건 무게(g):  50

====택배 정보====
수취인 성명: 양효빈
수취인 주소: 이문동
배송비: 3000원
물건 비용: 250.0원
총 합계: 3250.0원

# Ch03. Numbers

#### 1. boolean
- 형 변환할 때 True, False인지 기억하라 (False값 기억하기)
    - '', None, 0 = False
- 조건식에서 많이 사용 (ex : 만약 이 조건이 True라면...)

In [56]:
print(bool(1), bool(' '), bool(''), bool(None), bool(0))

True True False False False

#### 2. integer
- 소수점 없는 정수
- default 양수, 음수는 앞에 -를 붙인다.
- 숫자 앞에는 0을 붙일 수 없다. 예: 05
    - 예외적으로 0bxxx, => 다른 진수 표현법
- 리터럴: 4
- 공백이 많아도 무시가 된다.
- 10,000원 -> 10, 000원 두 개로 인식 => _사용
    - 예: 10_000

In [59]:
a = -9
print(8 + a)

b = 10_000
print(b)

-1
10000

#### 3. 연산
- 연산자(operator): +, - ...
- 피연산자(operand): 4, 5...
- 수식(expression): x + y....
    - 거듭제곱(exponential): 4**2
- 나눗셈에서 주의할 사항

In [62]:
#1. dicision by zero => 주의 (y != 0)
#2. 몫(//), 나머지(%)
x // y, x % y, x / y

(0.0, 10.7, 0.5404040404040403)

In [80]:
# divmod(a, b) = (몫, 나머지)
num1 = 56
num2 = 6
divmod(num1, num2)

(9, 2)

#### 4. 복합 대입연산자ㅣcompound assignment operator

* +=
* -=
* *=
* /=

In [85]:
a = 20
#1. a-3 계산
#2. 임시변수 temp = a - 3
#3. a -= 3

a -= 3
print(a)

17

In [87]:
# 주의: 초기값 설정!!
u = 7  #초기값 설정
u += 1
print(u)

8

#### Quiz 1.
- 정수를 입력 받고 3의 배수인지 확인하세요.
- = 홀수인지 확인하세요.

In [55]:
num = int(input('정수를 입력하시오'))
num % 3 == 0

정수를 입력하시오 9

True

In [56]:
num2 = int(input('정수를 입력하시오'))
num2 % 2 != 0

정수를 입력하시오 6

False

#### 5. 지수 표현
- e, E 둘 다 가능
- 앞부분은 float, int
- 뒷부분은 int만 온다
    - 양수면 0 앞으로
    - 음수면 0 뒤로(소수점)

In [99]:
1.0e6 #float

1000000.0

In [100]:
2.0e6

2000000.0

In [101]:
2.3e5

230000.0

In [94]:
# 0.000789 => 지수표현
print(7.89e-4)
print(789e-6)

0.000789
0.000789

#### 6. 조건문, if
#### <코드 짜는 룰>
- 주석 다는 법
    - 주석: 설명하는 부분
    - 목적: 의도 표현, 의사소통
    - 방법: #(hash, sharp,...)
    - 시작된 부분부터 그 라인의 끝까지가 주석
    - 문자열(str) 안에 들어있는 해시는 문자열로 인식
    - 라인 변경하며 주석 달 때: """<주석>"""
    
- 라인 유지하기
    - 들여쓰기, 공백 4개 = 탭 1개
    - 한 줄에 최대 80자 넘지 않게
    - 만약 넘으면 백슬래시로 끊어준다(\)

In [104]:
example = 'hey ##'
print(example)

"""
주석1
주석2
주석3
"""

hey ##

'\n주석1\n주석2\n주석3\n'

- 조건 1개
if <조건식>:
    <실행할 코드>

- 조건 2개:
if <조건식>:
    <실행할 코드1>
else:
    <실행할 코드2>
    
- 조건 3개 이상
if <조건식>:
    <실행할 코드1>
elif <조건식>:
    <실행할 코드2>
else:
    <실행할 코드3>

In [68]:
if 4 != 9:
    print('Yaay!')

Yaay!

In [69]:
if 4 == 9:
    print('Yaay!')
else:
    print('hey!')

hey!

#### 7. 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값)
- x != y (값)
- x is y (값, 메모리주소 모두 동일)
- x is not y

#### Quiz1.
- 학점 부여하기
- 학점을 입력 받아서
    - 90점 이상이면 A
    - 80, B
    - 70, C
    - 그 외, D
- 변수 설정

In [76]:
# 방법 1
score = float(input('학점을 입력하세요'))

if score >= 90:
    print(f'{score}점이므로 A입니다.')
elif score >= 80:
    print(f'{score}점이므로 B입니다')
elif score >= 70:
    print(f'{score}점이므로 C입니다')
else:
    print(f'{score}점이므로 D입니다.')

학점을 입력하세요 89

89.0점이므로 B입니다

In [125]:
# 방법 2 (더 간결한 코딩)
score = float(input('학점을 입력하세요'))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

print(f'점수가 {score}점이므로 학점은 {grade}입니다.')

학점을 입력하세요 55

점수가 55.0점이므로 학점은 D입니다.

#### Quiz2.
- 아이디와 비번 입력 받아서 둘 다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 때에는 창의적으로 어떤 걸로 반환하기

In [75]:
your_id = 'abc123'
your_password = 'hello python'

put_id = input('아이디를 입력하세요')
put_password = input('비밀번호를 입력하세요')

if your_id == put_id and your_password == put_password:
    print('환영합니다!')
else:
    print('아이디 혹은 비밀번호가 일치하지 않습니다. 다시 시도하십시오')

아이디를 입력하세요 abc123
비밀번호를 입력하세요 hello python

환영합니다!

### 8. 논리연산자
- 여러 조건식을 비교할 때
- 예: 10 < x < 20
    - 파이썬에서만 가능한 표현
    - x > 10 혹은 x < 20

- and, & : 둘 다 참일 때 True
- or, | (shift + 백슬래시) : 둘 중 하나만 참이여도 True
- not : 참 -> False, 거짓 -> True

#### Quiz 3.
- quiz 1 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로
    - 논리연산자 사용
    - if 구조를 크게 2번 가져갈 수 있다

In [135]:
# 논리연산자 사용 + if 구조 2번 사용
# 점수가 80점 이상일 경우에만 결석에 따른 학점 변화 준 것이고 나머지는 결석 관계없이 점수대로 코딩했습니다!

score = float(input('학점을 입력하세요'))
absence = int(input('결석횟수를 입력하세요'))

if score >= 80:
    if absence >= 2:
        grade = 'F'
    elif score >= 90:
        grade = 'A'
    else:
        grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

print(f'학점은 {grade}입니다.')

학점을 입력하세요 85
결석횟수를 입력하세요 2

학점은 F입니다.